<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(61, 170, 61);
        }

        h1{
            align-items: center;
            text-align: center;
            justify-content: center;
            margin: 0, auto;
            font-size: 5rem;
            margin-top: 20rem;
        }
    </style>
</head>
<body>
    <h1>Formulario Enviado Correctamente</h1>
</body>
</html>