@import url();

:root{
    --h1-font-size: 5rem;
    --h2-font-size: 2rem;
    --span-font-size: 2rem;
    --h1-color: #ffffff;
    --h2-color: #ffffff;
    --span-color: #ffffff;
    --button-color: #3879a1;
    --height-hero-image: 90vh;
}

@media screen and (max-width: 1024px){
    :root{
        --h1-font-size: 5rem;
    --h2-font-size: 2rem;
    --span-font-size: 2rem;
    --h1-color: #ffffff;
    --h2-color: #ffffff;
    --span-color: #ffffff;
    --button-color: #3879a1;
    --height-hero-image: 90vh;
    }
}

*, :after, :before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ;
}

body{
    background-color: rgb(83, 71, 71);
}

.hero-image{
    background: url(/assets/img/hero-image.jpg) center/cover;
    height: var(--height-hero-image);
    clip-path: ellipse(50% 50%);
    position: relative;
    text-align: center;
}

.hero-body{
    align-items: center;
    height: 100%;
}

h1{
    color: white;
    font-size: var(--h1-font-size);
    padding-top: 15rem;
}

span{
    color: white;
    font-size: var(--span-font-size);
    padding-top: 15rem;
}  

p{
    color: #ffffff;
    padding-bottom: 1rem;
}

h2{
    color: var(--h2-color);
    font-size: var(--h2-font-size);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    margin: 0 auto;
}

.form-container {
    max-width: 25rem;
    margin: 0 auto;
    border: 0.125rem solid #040404;
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-top: 1.25rem;
    background-color: rgb(112, 89, 55);
    margin-bottom: 2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.name, .email, .message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: rgb(46, 44, 44);
    color: rgb(188, 200, 191);
}

.btn {
    background-color: var(--button-color);
    color: #ffffff; 
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.2rem;
}

.btn:hover {
    background-color: #4d1937; 
    color: #fff; 
}

#errores {
    list-style: none;
    color: red;
    padding: 0.5rem;
}